<img src="<%= profilePictureUrl %>">
<br/>
<p>Dear Max,</p>
<p>A new user <%= name %> has been created with the email <%= newUserEmail %>!</p>
<p>They have a facebook ID: <%= facebookId %></p>
<p>Love,<br/>The PRKY team</p>