<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>The signup page</h1>
	<!--SCRIPTS-->
	<script src="/js/dependencies/sails.io.js"></script>
	<script src="/js/dependencies/angular.js"></script>
	<script src="/js/dependencies/dist/jquery.js"></script>
	<script src="/js/dependencies/dist/js/bootstrap.js"></script>
	<script src="/js/dependencies/ui-bootstrap-tpls.js"></script>
	<!--SCRIPTS END-->
</body>
</html>
